*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Times New Roman", Times, sans-serif;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

p {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

img {
  display: block;
}

:root {
  --yellow-color: #F3C653;
  --border-navigation-color: rgba(243, 198, 83, 0.7);
  --text-header-navigation:#E5E5E5;
  --logo-color: #FFFFFF;
  --home-restorane-bg-color: #FFFDEE;
  --home-restorane-title-color: #494848;
  --text--homepage--color: #BABABA;
  --text-about-room-color:#B4B4B4;
  --text-description-room: #7A7A7A;
  --text-list-room-color: #C79002;
  --footer-bg-color:#0E0C07;
}

.container {
  outline: 2px solid tomato;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 414px) {
  .container {
    width: 414px;
  }
}

/* montserrat-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/montserrat-v25-latin-regular.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-500 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/montserrat-v25-latin-500.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-600 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/montserrat-v25-latin-600.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
@font-face {
  font-family: "Film P3";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/FilmP3Bold.woff2") format("woff2"), url("../fonts/FilmP3Bold.woff") format("woff");
}
.hero {
  margin: 0 auto;
  padding-top: 181px;
  padding-bottom: 20px;
  background-color: rgb(133, 127, 127);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.65))), url("/../images/home-mobile.jpg");
  background-image: linear-gradient(to right rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("/../images/home-mobile.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.65))), url("../images/home-mobile@2x.jpg");
    background-image: linear-gradient(to right rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("../images/home-mobile@2x.jpg");
  }
}
.hero-title {
  margin-bottom: 24px;
  text-align: center;
  font-family: "Film P3";
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  line-height: 103px;
  letter-spacing: 0.3em;
  color: var(--logo-color);
}

.hero-subtitle {
  margin-bottom: 40px;
  text-align: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: var(--logo-color);
}

.hero-text {
  margin-bottom: 113px;
  text-align: center;
  font-family: "Times New Roman";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 37px;
  letter-spacing: 0.05em;
  color: var(--logo-color);
}

.nav-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 12px;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-list__item:not(:last-child) {
  margin-right: 26px;
}

.nav-list__svg {
  width: 12px;
  height: 20px;
  fill: var(--yellow-color);
}

.nav-list__text {
  margin-right: 12px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: var(--yellow-color);
}

.header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 16px;
}

.header-logo {
  font-family: "Film P3";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 39px;
  letter-spacing: 0.3em;
  color: var(--logo-color);
}

.header-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.header-navigation-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid var(--border-navigation-color);
  border-radius: 2px;
  padding-top: 8px;
  padding-bottom: 9px;
  padding-left: 6px;
  padding-right: 6px;
}

.header-navigation__svg {
  width: 20px;
  height: 20px;
  margin-right: 8px;
  fill: var(--yellow-color);
}

.header-navigation__text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.01em;
  color: var(--text-header-navigation);
}

.hero-list {
  text-align: center;
  margin-bottom: 58px;
}

.hero-list__item:not(:last-child) {
  margin-bottom: 24px;
}

.hero-list__button {
  padding: 14px 24px;
  margin: 0;
  border: 2px solid var(--logo-color);
  border-radius: 25px;
  background-color: transparent;
  color: var(--yellow-color);
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.02em;
  cursor: pointer;
}

.hero-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero-social__item:not(:last-child) {
  margin-right: 20px;
}

.hero-social__svg {
  width: 24px;
  height: 24px;
  fill: var(--border-navigation-color);
}

.about-restaurant {
  padding-top: 16px;
  padding-bottom: 20px;
  background-color: var(--home-restorane-bg-color);
}

.about-restaurant__description {
  margin-bottom: 12px;
}

.about-restaurant__title {
  margin-bottom: 12px;
  font-family: "Film P3";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 43px;
  letter-spacing: 0.3em;
  color: var(--home-restorane-title-color);
}

.about-restaurant__text {
  margin-bottom: 28px;
}

.about-restaurant-list__item {
  margin-bottom: 32px;
}

.about-restaurant-list__img {
  margin-left: auto;
}

.about-restaurant-list__text {
  margin-left: 20px;
  width: 163px;
}

.about-restaurant-list__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-restaurant-slider {
  position: relative;
  margin-bottom: 20px;
}

.about-restaurant-slider__img {
  margin: 0 auto;
}

.about-restaurant-slider__picture {
  position: absolute;
  top: 0;
  right: -15px;
}

.about-restaurant-slider-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.about-restaurant-slider-list__item:not(:last-child) {
  margin-right: 32px;
}

.about-restaurant-slider__svg {
  width: 32px;
}

.homepage-restaurant {
  padding-top: 24px;
  padding-bottom: 40px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.65)), to(rgba(0, 0, 0, 0.65))), url("../images/pexels-kheng-tang-3873951 1.jpg");
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("../images/pexels-kheng-tang-3873951 1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2.0416666666666665), (min-resolution: 196dpi), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .homepage-restaurant {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.65)), to(rgba(0, 0, 0, 0.65))), url("../images/pexels-kheng-tang-3873951 1@2x.jpg");
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("../images/pexels-kheng-tang-3873951 1@2x.jpg");
  }
}
.text-container {
  width: 259px;
  margin-left: auto;
  margin-bottom: 48px;
}

.homepage-restaurant__title {
  margin-bottom: 12px;
  font-family: "Film P3";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 43px;
  letter-spacing: 0.3em;
  color: var(--logo-color);
}

.homepage-restaurant__subtitle {
  margin-bottom: 20px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--logo-color);
}

.homepage-restaurant__text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.02em;
  color: var(--text--homepage--color);
}

.homepage-restaurant-slider {
  position: relative;
}

.homepage-restaurant-slider__img {
  margin-bottom: 16px;
}

.homepage-restaurant-slider__picture {
  position: absolute;
  top: 0;
  right: -15px;
}

.homepage-restaurant-slider-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  margin-bottom: 32px;
}

.homepage-slider__item:not(:last-child) {
  margin-right: 32px;
}

.homepage-slider__svg {
  width: 32px;
  fill: var(--logo-color);
}

.position {
  margin-bottom: 0;
}

.about-room {
  padding-top: 18px;
  padding-bottom: 20px;
  background-color: var(--home-restorane-bg-color);
}

.about-room__text {
  margin-bottom: 6px;
  font-family: "Times New Roman";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-align: right;
  color: var(--text-about-room-color);
}

.about-room__title {
  margin-bottom: 16px;
  font-family: "Film P3";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 43px;
  letter-spacing: 0.3em;
  text-align: right;
  color: var(--home-restorane-title-color);
}

.about-room__description {
  display: block;
  width: 242px;
  margin-left: auto;
  margin-bottom: 28px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.02em;
  color: var(--text-description-room);
}

.about-room-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 32px;
}

.about-room-list__text {
  margin-right: 21px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.02em;
  color: var(--text-list-room-color);
}

.about-room-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.about-room-slider__item:not(:last-child) {
  margin-right: 20px;
}

.about-room-slider__img {
  margin-left: -15px;
}

.side {
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.homepage-hotel {
  padding-top: 24px;
  padding-bottom: 40px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url("../images/homapage-hotel.jpg");
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/homapage-hotel.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2.0416666666666665), (min-resolution: 196dpi), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .homepage-hotel {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.65)), to(rgba(0, 0, 0, 0.65))), url("../images/homapage-hotel@2x.jpg");
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("../images/homapage-hotel@2x.jpg");
  }
}
.text-container {
  margin-bottom: 20px;
}

.homepage-hotel__title {
  margin-bottom: 12px;
  font-family: "Film P3";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 43px;
  letter-spacing: 0.3em;
  color: var(--logo-color);
}

.homepage-hotel__subtitle {
  margin-bottom: 20px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--logo-color);
}

.homepage-hotel__text {
  display: inline-block;
  width: 243px;
  margin-bottom: 48px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.02em;
  color: var(--text--homepage--color);
}

.homepage-hotel-slider {
  position: relative;
}

.homepage-hotel-slider__img {
  margin-bottom: 16px;
}

.homepage-hotel-slider__picture {
  position: absolute;
  top: 0;
  right: -15px;
}

.homepage-hotel-slider-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  margin-bottom: 32px;
}

.homepage-hotel-slider-list--position {
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.homepage-slider__item:not(:last-child) {
  margin-right: 32px;
}

.homepage-slider__svg {
  width: 32px;
  fill: var(--logo-color);
}

.homepage-location {
  padding-top: 36px;
  padding-bottom: 32px;
  background-color: var(--home-restorane-bg-color);
}

.homepage-location__title {
  margin-bottom: 12px;
  font-family: "Film P3";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 43px;
  letter-spacing: 0.3em;
  color: var(--home-restorane-title-color);
}

.homepage-location__text {
  margin-bottom: 16px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: var(--text-description-room);
}

.location-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 16px;
}

.location-list {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--text-list-room-color);
}

.location-list__item:not(:last-child) {
  margin-bottom: 32px;
}

.location-contacts__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 11px;
  padding-bottom: 9px;
  padding-left: 14px;
  padding-right: 8px;
  border: 0.5px solid #F3C653;
  border-radius: 2px;
  background-color: var(--logo-color);
}

.location-contacts__item:not(:last-child) {
  margin-bottom: 16px;
}

.location-contacts__item--size {
  width: 150px;
}

.location-contacts__svg {
  margin-right: 14px;
  fill: var(--text-list-room-color);
}

.location-contacts__link {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.02em;
  color: var(--home-restorane-title-color);
}

.location-contacts__link--position {
  margin-right: 12px;
}

.location-address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 260px;
  margin-left: auto;
  margin-bottom: 32px;
  padding-top: 8px;
  padding-right: 33px;
  padding-bottom: 7px;
  padding-left: 10px;
  border: 0.5px solid #F3C653;
  border-radius: 2px;
  background-color: var(--logo-color);
}

.location-address__text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.01em;
  color: var(--home-restorane-title-color);
}

.location-address__svg {
  margin-right: 10px;
  fill: var(--text-list-room-color);
}

.homepage-footer {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: var(--footer-bg-color);
}

.homepage-footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.homepage-footer__logo {
  margin-right: 85px;
  font-family: "Film P3";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 43px;
  letter-spacing: 0.3em;
  color: var(--yellow-color);
}

.homepage-footer-list {
  margin-bottom: 32px;
}

.homepage-footer-list__item:not(:last-child) {
  margin-bottom: 16px;
}

.homepage-footer-list__link {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--yellow-color);
}

.homepage-footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.homepage-footer-social__item:not(:last-child) {
  margin-right: 20px;
}

.homepage-footer__svg {
  fill: var(--border-navigation-color);
}/*# sourceMappingURL=main.css.map */