.about-room{
  padding-top: 18px;
  padding-bottom: 20px;
background-color: var(--home-restorane-bg-color);

@media screen and (min-width: 1024px){
  position: relative;
  padding-top: 120px;
  padding-bottom: 32px;
}
}

.about-room__text{
  margin-bottom: 6px;
font-family: 'Times New Roman';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-align: right;

  color: var(--text-about-room-color);

  @media screen and (min-width: 1024px){
    margin-bottom: 4px;
      font-size: 32px;
      line-height: 37px;
  }
 
}

.about-room__title{
  margin-bottom: 16px;
font-family: 'Film P3';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 43px;
  letter-spacing: 0.3em;
  text-align: right;

  color: var(--home-restorane-title-color);

  @media screen and (min-width: 1024px){
    margin-bottom: 24px;
      font-size: 64px;
      line-height: 69px;
      letter-spacing: 0.3em;
  }
  
}

.about-room__description{

  display: block;
  width: 242px;
  margin-left: auto;
  margin-bottom: 28px;

font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.02em;
  
  color: var(--text-description-room);

  @media screen and (min-width: 1024px){
    width: 419px;
    margin-bottom: 142px;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 0.02em;

  }
}

// .about-room-list{
// // outline: 2px solid greenyellow;
// }

.about-room-list__item{
display: flex;
align-items: center;
margin-bottom: 32px;
@media screen and (min-width: 1024px){
  justify-content: right;
  margin-bottom: 0;
}
}



.about-room__img{
  @media screen and (min-width: 1024px){
    position: absolute;
    top: -24px;
    left: 112px;
  }
}


.about-room-list__text{
  margin-right: 21px;
  width: 163px;
font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.02em;
  color: var(--text-list-room-color);

  @media screen and (min-width: 1024px){
    width: 312px;
    margin-right: 48px;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 0.02em;
  }
  
}

.about-room-slider{
  display: flex;
  margin-bottom: 20px;
  @media screen and (min-width: 1024px) {
      margin-top: -26px;
      margin-bottom: 32px;
    }
}

.about-room-slider__item:not(:last-child){
margin-right: 20px;
margin-left: -15px;
@media screen and (min-width: 1024px){
  margin-left: 0;
  margin-right: 40px;
}
}

// .about-room-slider__img{
// // margin-left: -15px;

// }

.side{
  justify-content: left;
}



