.about-restaurant{
  padding-top: 16px;
  padding-bottom: 20px;
  background-color: var(--home-restorane-bg-color);
  
  @media screen and (min-width: 1024px){
    position: relative;
    padding-top: 120px;
  }
}

.about-restaurant__description{
  margin-bottom: 12px;
  font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: var(--text-about-room-color);

  @media screen and (min-width: 1024px){
      font-size: 32px;
      line-height: 37px;
      
  }
}

.about-restaurant__title{
  margin-bottom: 12px;

  font-family: 'Film P3';
    font-style: normal;
      font-weight: 700;
      font-size: 40px;
      line-height: 43px;
      letter-spacing: 0.3em;
    color: var(--home-restorane-title-color);

    @media screen and (min-width: 1024px){
        font-size: 64px;
        line-height: 69px;
        letter-spacing: 0.3em;
    }
}

.about-restaurant__text{
margin-bottom: 28px;
width: 258px;
font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.02em;
  color: var(--text-description-room);

@media screen and (min-width: 1024px){
  margin-bottom: 142px;
  width: 439px;  
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.02em;
    
}

}




.about-restaurant-list__item{
  margin-bottom: 32px;

  @media screen and (min-width: 1024px){
    margin-bottom: -32px;
  }
}

.about-restaurant-list__img{
  
  margin-left: auto;
 
  @media screen and (min-width: 1024px){
    position: absolute;
    top: -32px;
    right: 112px;
    width: 400px;
    height: 524px;
  }
 
}

.about-restaurant-list__text{
  margin-left: 20px;
  width: 163px;
  font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.02em;
    color: var(--text-list-room-color);

    @media screen and (min-width: 1024px){
      width: 312px;
      margin-left: 48px;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.02em;
    }
}


.about-restaurant-list__container{
  display: flex;
  align-items: center;
}


.about-restaurant-slider{
 position: relative;
 margin-bottom: 20px;

 @media screen and (min-width: 1024px){
  display: flex;
  justify-content: right;
  margin-bottom: 32px;
 }
}

.about-restaurant-slider__img{
margin: 0 auto;
@media screen and (min-width: 1024px){
  margin-right: 40px;
}
}

.about-restaurant-slider__picture{
  position: absolute;
  top: 0;
  right: -15px;

  @media screen and (min-width: 1024px){
    position: relative;
    right: 0;

  }
}


.about-restaurant-slider-list{
  display: flex;
  justify-content: right;
}

.about-restaurant-slider-list__item:not(:last-child){
margin-right: 32px;
}

.about-restaurant-slider__svg{
  width: 32px;
}

.about-restaurant-tablet__img{
  @media screen and (min-width: 1024px){
    width: 350px;
    height: 500px;
  }
}

