.homepage-location{
  padding-top: 36px;
  padding-bottom: 32px;
  background-color: var(--home-restorane-bg-color);

  @media screen and (min-width: 1024px){
    position: relative;
    padding-top: 69px;
    padding-bottom: 40px;
  }
}

.homepage-location__title{
  margin-bottom: 12px;
font-family: 'Film P3';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 43px;
  letter-spacing: 0.3em;
  color: var(--home-restorane-title-color);
  @media screen and (min-width: 1024px){
    margin-bottom: 8px;
  }
}

.homepage-location__text{
  margin-bottom: 16px;
font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: var(--text-description-room);
  @media screen and (min-width: 1024px){
    margin-bottom: 52px;
  }
}

.location-box{
display: flex;
align-items: baseline;
justify-content: space-between;

margin-bottom: 16px;

@media screen and (min-width: 1024px){
  justify-content: flex-start;
}
}

.location-list{
  font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--text-list-room-color);
}

.location-list__item:not(:last-child){
  margin-bottom: 32px;
  @media screen and (min-width: 1024px){
    margin-bottom: 8px;
  }
}

.location-contacts{
@media screen and (min-width: 1024px){
  display: none;
}
}

.location-contacts__item{
  display: flex;
  align-items: center;
  padding-top: 11px;
  padding-bottom: 9px;
  padding-left: 14px;
  padding-right: 8px;
  border: 0.5px solid #F3C653;
    border-radius: 2px;
    background-color: var(--logo-color);
   
}

.location-contacts__item:not(:last-child){
  margin-bottom: 16px;
  @media screen and (min-width: 1024px){
    margin-bottom: 24px;
  }
}

.location-contacts__item:last-child{
  @media screen and (min-width: 1024px){
    margin-bottom: 48px;
  }
}

.location-contacts__item--size{
  width: 150px;
  
}

.location-contacts__svg{
  margin-right: 14px;
  fill: var(--text-list-room-color);
}

.location-contacts__link{
  font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.02em;
    color: var(--home-restorane-title-color);
}

.location-contacts__link--position{
  margin-right: 12px;
}

.location-address{
  display: flex;
  align-items: center;
  width: 260px;
  margin-left: auto;
  margin-bottom: 32px;
  padding-top: 8px;
  padding-right: 33px;
  padding-bottom: 7px;
  padding-left: 10px;
  border: 0.5px solid #F3C653;
  border-radius: 2px;
  background-color: var(--logo-color);

  @media screen and (min-width: 1024px){
    width: 285px;
    margin-left: 0;
    margin-bottom: 0;
  }
}

.location-address__text{
  width: 150px;
  font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.01em;
    color: var(--home-restorane-title-color);
    @media screen and (min-width: 1024px){
      width: 233px;
    }
}

.location-address__svg{
  margin-right: 10px;
  fill: var(--text-list-room-color);
}

.location_img{
  @media screen and (min-width: 1024px){

  position: absolute;
  top: 69px;
  left: 442px;
  width: 535px;
  height: 412px;
  border: 2px solid black;
  }
  
}

.tablet-version{
  display: none;
  @media screen and (min-width: 1024px){
    display: flex;
  }
}