.homepage-hotel {
  padding-top: 24px;
  padding-bottom: 40px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('../images/homapage-hotel.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @media screen and (min-width: 1024px){
    padding-top: 48px;
    padding-bottom: 40px;
  }
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 196dpi),
(min-resolution: 2dppx) {
  .homepage-hotel {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65),
        rgba(0, 0, 0, 0.65)), url('../images/homapage-hotel@2x.jpg');
  }
}

@media screen and (min-width: 414px){
  .homepage-hotel{
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.75),
        rgba(0, 0, 0, 0.75)),
      url('../images/tablet/homepage-tablet-background.jpg');;
  }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 196dpi),
    (min-resolution: 2dppx) {
      .homepage-hotel {
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65),
            rgba(0, 0, 0, 0.65)), url('../images/tablet/homepage-tablet-background@2x.jpg');
      }
    }
}




.text-container {
  margin-bottom: 20px;
  @media screen and (min-width: 1024px){
    text-align: right;
  }
}



.homepage-hotel__title {
 
  margin-bottom: 12px;

  font-family: 'Film P3';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 43px;
  letter-spacing: 0.3em;
  color: var(--logo-color);
}

.homepage-hotel__subtitle {

  margin-bottom: 20px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  
  color: var(--logo-color);
}

.homepage-hotel__text {
  display: inline-block;
  width: 243px;
  margin-bottom: 48px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.02em;
 
  color: var(--text--homepage--color);

  @media screen and (min-width: 1024px){
    width: 549px;
    margin-left: 250px;
  }
}

.homepage-hotel-slider {
display: flex;
margin-left: -15px;
margin-right: 32px;
margin-bottom: 16px;

}

.homepage-hotel-slider__item--tablet{
  display: none;
  @media screen and (min-width: 1024px){
    display: block;
  }
}


.homepage-hotel-slider__item:nth-child(2){
margin-right: 20px;
}

.homepage-hotel-slider__item:not(:last-child){
  @media screen and (min-width: 1024px){
margin-right: 34px;
  }
  
}

.homepage-hotel__container{
  @media screen and (min-width: 1024px){
    display: flex;
      margin-bottom: 24px;
      justify-content: space-between;
  }

}



.homepage-hotel-slider__img {

@media screen and (min-width: 1024px){
  margin: 0;
}
}

// .homepage-hotel-slider__picture {
//   // position: absolute;
//   // top: 0;
//   // right: -15px;
// }




.homepage-hotel-slider-list {
  display: flex;
  justify-content: left;
  margin-bottom: 32px;
}

.homepage-hotel-slider-list--position{
  justify-content: right;
  margin-right: 20px;

  @media screen and (min-width: 1024px){
    margin-right: 275px;
  }
}

.homepage-slider__item:not(:last-child) {
  margin-right: 32px;
}

.homepage-slider__svg {
  width: 32px;
  fill: var(--logo-color);
}

