.homepage-footer{
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: var(--footer-bg-color);
  @media screen and (min-width: 1024px){
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

.homepage-footer-container{
  display: flex;
  align-items: center;
  justify-content: center;
  @media screen and (min-width: 1024px){
    justify-content: space-around;

  }
}

.homepage-footer__logo{
  margin-right: 85px;
  font-family: 'Film P3';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 43px;
    letter-spacing: 0.3em;
    color: var(--yellow-color);
    @media screen and (min-width: 1024px){
      font-size: 64px;
        letter-spacing: 19.2px;
    }
}

.homepage-footer-list{
  margin-bottom: 32px;
  @media screen and (min-width: 1024px){
    margin-right: 137px;
  }
}

.homepage-footer-list__item:not(:last-child){
margin-bottom: 16px;
}

.homepage-footer-list__link{
  font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--yellow-color);
    @media screen and (min-width: 1024px){
        letter-spacing: 0.4px;
    }
}

.homepage-footer-social{
  display: flex;
  @media screen and (min-width: 1024px){
   flex-direction: column-reverse;
   
  }
  
}


.homepage-footer-social__link{
  @media screen and (min-width: 1024px){
    display: flex;
    align-items: center;
    padding: 10px 12px;
    border: 1px solid var(--border-navigation-color);
  }
}

.homepage-footer-social__text{
  display: none;
  @media screen and (min-width: 1024px){
    display: inline-block;
    margin-right: 18px;
    font-size: 16px;
      font-family: Montserrat;
      letter-spacing: 0.32px;
      color: var(--yellow-color);
  }
}

.homepage-footer-social__item:not(:last-child){
margin-right: 20px;
@media screen and (min-width: 1024px){
  margin-right: 0;
  
}
}

.homepage-footer-social__item:not(:first-child){
@media screen and (min-width: 1024px){
  margin-bottom: 12px;
}
}

.homepage-footer__svg{
  fill: var(--border-navigation-color);
}

.homepage-footer-nav{
  @media screen and (min-width: 1024px){
    display: flex;
    align-items: baseline;
  }
}

        