:root{
--yellow-color: #F3C653;
--border-navigation-color: rgba(243, 198, 83, 0.7);
--text-header-navigation:#E5E5E5;
--logo-color: #FFFFFF;
--home-restorane-bg-color: #FFFDEE;
--home-restorane-title-color: #494848;
--text--homepage--color: #BABABA;
--text-about-room-color:#B4B4B4;
--text-description-room: #7A7A7A;
--text-list-room-color: #C79002;
}